@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>Your Books</h4>
    @foreach (var loan in Model.Loans.LoanList)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="book/@loan.BookId">@loan.BookTitle</a>
                    <p>@loan.book.AuthorString</p>
                </div>
            </div>
        </div>
    }
</div>