@model Bookish.Api.Models.Books

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var book in Model.BookList)
{
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="book/@book.bookID">@book.bookTitle</a>
                <p>@book.AuthorString</p>
                <input type="button" value="Create" onclick="location.href='@Url.Action("CheckoutBook", "Book", new {bookId = book.bookID})'" />
            </div>
        </div>
    </div>

    
}